@import "tailwindcss";
@import "@repo/ui/styles.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #f3f4f6; 
  color: rgb(var(--foreground-rgb));
}